@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

.sub-header {
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
		url(assets/images/background.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}

.display {
	margin-top: 60vh;
	text-align: center;
	display: block;
}
